
.side-navbar {
    background-color: #333 !important; /* Darker background color */
    padding: 20px; /* Add padding for better spacing */
  }
  
  /* Other styles remain the same */
  
  .list-group {
    margin-bottom: 20px; /* Add margin at the bottom of the list group */
  }
  
  .input-group {
    margin-top: auto; /* Align the input group to the bottom */
  }
  
  .btn-primary {
    margin-top: 10px; /* Add some top margin to the button for spacing */
  }
  
  
  .list-group-item {
    border-radius: 0; /* Remove border radius from list items */
  }
  
  .theme-deleted {
    background-color: #fff; /* Change background color as needed */
  }
  
  .theme-deleted h1 {
    font-size: 2.5rem; /* Adjust font size as needed */
  }
  