.side-navbar {
  width: 200px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
}

.side-navbar h2 {
  margin-bottom: 10px;
}

.side-navbar ul {
  list-style-type: none;
  padding: 0;
}

.side-navbar li {
  margin-bottom: 5px;
  cursor: pointer;
}

.side-navbar li:hover {
  color: blue;
}
